* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}
.main-visual {
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}
.main-visual-content {
  padding: 20px; /*20の余白*/
}
.heading h2 {
  color: gray;
}
main {
  width: 840px; /*840幅*/
  margin: 50px auto; /*中央揃え*/
}
.item {
  color: gray;
  line-height: 1.5;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid gray;
}
